@import 'vue-material/dist/vue-material.min.css';
@import 'vue-material/dist/theme/black-green-light.css';
@import 'material-design-icons/iconfont/material-icons.css';

.main-content{
  padding: 16px;
  flex: 1;
}

h2.main-head{
  margin-right: 20px !important;
}

.md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}